@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--purple-taupe: #54394b;
		--Dark-charcoal: #303130;
		--crayola: #eeb3d2;
		--philippine-gray: #8a9090;
		--font-avenir: "Avenir", sans-serif;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	/* border: 1px solid lime; */
}

* {
	margin: 0;
	padding: 0;
}
html,
body {
	overflow-x: hidden;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	background-color: rgb(0, 0, 0);
	color: white;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p,
li {
	text-wrap: pretty;
	overflow-wrap: break-word;
}


.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.animate-rotate-cercle-right {
	rotate: -4deg;
	animation: rotate-cercle-right 15s ease-in infinite;
}
.animate-rotate-cercle-left{
	animation: rotate-cercle-left 15s ease-out infinite;

}

@keyframes rotate-cercle-right {
	0% {
	  rotate: -11deg;
	}
	25% {
	  rotate: -4deg;
	}
	50% {
	  rotate: 5deg;
	}
	75% {
	  rotate: -4deg;
	}
	100% {
	  rotate: -11deg;
	}
  }
@keyframes rotate-cercle-left {
	0% {
	  rotate: 0deg;
	}
	50% {
	  rotate: -11deg;
	}
	100% {
	  rotate: 0deg;
	}
  }

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
	background: var(--Dark-charcoal);

}

/* Handle */
body::-webkit-scrollbar-thumb {
	background: black;

}
